# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
*.iml
.vscode/

# Android / Gradle
android/.gradle/
android/local.properties
**/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db
